@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl font-bold;
  }

  h3 {
    @apply text-lg font-bold;
  }

  h4 {
    @apply text-base font-bold;
  }

  h5 {
    @apply text-sm font-bold;
  }

  h6 {
    @apply text-xs font-bold;
  }
}

@layer utilities {
  .selected {
    @apply font-bold border-l-4 border-white
  }
}

body {
  height: 100vh,

}

* {
  scrollbar-width: thin;
}

#root {
  height: 100vh;
  background-color: #282a36;
  color: white;
}